/* Здесь описаны свойства для веб-инструментов */

.tools::-webkit-scrollbar {
  width: 17px;
  height: 10px;
}

.tools::-webkit-scrollbar-track {
  background: transparent;
}

.tools::-webkit-scrollbar-thumb {
  background-color: #2d2b36;
  border-radius: 7px;
  border: 3px solid #eff4f7;
}

img {
  pointer-events: none;
}

body {
  overflow-x: hidden;
}